@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #FF8900;
  --secondary-color: #1E90FF;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.bg-primary {
  background-color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color);
}

.hover\:bg-primary-dark:hover {
  background-color: #E67A00;
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.hover\:bg-secondary-dark:hover {
  background-color: #1873CC;
}